<a href="https://colab.research.google.com/github/RudrakshSugandhi/Machine-hack_price_item/blob/main/price_of_retail_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#simple linear regression

In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [17]:
train_df = pd.read_csv('drive/My Drive/Machine hack/item_price/Train.csv')
test_df = pd.read_csv('drive/My Drive/Machine hack/item_price/Test.csv')

In [18]:
print(train_df.shape)
print(test_df.shape)

(284780, 8)
(122049, 7)

In [19]:
train_df.head()

   InvoiceNo  StockCode  Description  ...  UnitPrice CustomerID  Country
0       6141       1583          144  ...       3.75    14056.0       35
1       6349       1300         3682  ...       1.95    13098.0       35
2      16783       2178         1939  ...       5.95    15044.0       35
3      16971       2115         2983  ...       0.83    15525.0       35
4       6080       1210         2886  ...       1.65    13952.0       35

[5 rows x 8 columns]

In [22]:
y = train_df['UnitPrice']
y = y.dropna()
y.shape

(284780,)

In [24]:
features = ['InvoiceNo','StockCode','Description','Quantity','CustomerID']
X = pd.get_dummies(train_df[features])
X = X.dropna()
X.shape

(284780, 5)

In [33]:
features = ['InvoiceNo','StockCode','Description','Quantity','CustomerID']
x_test = pd.get_dummies(test_df[features])
x_test = x_test.dropna()
x_test.shape

(122049, 5)

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state = 100)
from sklearn.linear_model import LinearRegression
ln = LinearRegression()
ln.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [35]:
predicitions = ln.predict(x_test)
predicitions.shape

(122049,)

In [36]:
from sklearn import metrics
print("RMSE:",np.sqrt(metrics.mean_squared_error(y_test,predicitions)))

ValueError: ignored

In [43]:
result = pd.DataFrame(data=predicitions).round(1)
result.columns=['UnitPrice']
result.head()
result.to_excel("MachineHack_linear_predict.xlsx")